[2015-06-18 15:34] NGTmeaty opened #3 "No one working on it!"

[2015-06-18 15:41] devloop0 commented on #3
Hi, thanks for the feedback. I'm glad people in the community are interested in our project. Don't worry, we haven't forgotten about it. Currently, were working on a windows version of the app as well. Hopefully, our first code commit will come in soon!

[2015-06-18 16:01] Xalaxis commented on #3
You could have added a brief description @NGTmeaty , but rest assured, we are working on it :smile:.

First build should be up sometime in the next week at least I expect.

[2015-06-18 16:01] #3 closed

[2015-06-18 16:19] NGTmeaty commented on #3
By accidently hit add before adding a description! Whoops!

[2015-06-18 16:23] NGTmeaty commented on #3
What will the windows version run off? Will it just connect to a site?

[2015-06-18 16:26] devloop0 commented on #3
I'm working on the windows version. It is a native app. I'm planning to keep it in a zip file, and you can extract and run it as an executable.

[2015-06-18 17:21] NGTmeaty commented on #3
My question remains the same, will it either a, use html/website or run on c or c#

[2015-06-18 17:44] devloop0 commented on #3
Sorry, I didn't understand your question. Native apps on windows are usually written in C# or C++ (unless they are web apps). This one is written in C#.

[2015-06-18 18:07] devloop0 opened #4 "Facial detection and recognition"
Facial detection is almost done and will be coming in the first commit for the windows app.

[2015-06-18 18:08] DeviantInterface commented on #4
AWESOME!

On Thursday, June 18, 2015, devloop0 <notifications@github.com> wrote:

--
///Deviant
Name: Mccree, Daniel P.
SSN: XXX-XX-2840
Designation: Threat To System

[2015-06-18 18:20] Xalaxis commented on #3
@NGTmeaty , what @devloop0 is saying is essentially it's definitely not a web-app and is natively coded.  We are still discussing how they should/should not link into a back-end.

[2015-06-18 18:20] Xalaxis commented on #4
I quite agree @DeviantInterface ... I quite agree.

Good job @devloop0

[2015-06-18 18:43] NGTmeaty commented on #3
got it.

[2015-06-18 20:41] kodbilenadam commented on #3
@NGTmeaty Also there will be a web and mobile clients as well :+1:

[2015-06-18 22:00] devloop0 opened #5 "Target UI for the Desktop Application"
Screenshots of both Samaritan and the Machine's UI when they are looking at people as well as when Samaritan takes input from people would be helpful.

[2015-06-19 11:21] Xalaxis commented on #5
Note: You can't assign more than one person apparently :wink:

[2015-06-19 11:22] Xalaxis commented on #5
Deviant, can you handle this?

[2015-06-19 11:28] Xalaxis opened #6 "Day counter"
A script which updates a json file with the current number of days the system has been running.  I should have this done by sometime later today hopefully.

[2015-06-19 11:29] Xalaxis commented on #6
Current progress:
![](https://puu.sh/iuH1V.png)

[2015-06-20 01:43] devloop0 opened #7 "Executable Size and Distribution"
As the release of the first build approaches, there are some kinks to be worked out. Of course the source code will lie here on Github, but there is the issue of executable size. Currently, the application relies on Emgu CV and might rely on NAudio too (as of now, it is bundled, but is not used, but its contribution to the executable size is minor). Currently, the executable size is around 800 MBs

[2015-06-20 01:44] devloop0 commented on #6
If you need help with this, let me know @Xalaxis.

[2015-06-20 17:09] Xalaxis commented on #7
I would say keep the builds in the main branch.  If you are going to work
on the project's source you are likely going to either want a full 'clone',
or just download the files you need manually (or even work using gits
built in editor)

On Sat, 20 Jun 2015 02:43 devloop0 <notifications@github.com> wrote:

[2015-06-20 17:53] devloop0 commented on #7
Okay, thanks for the suggestion. For the source and the executable, I'll just create a separate folder called windows and keep everything in there.
I'll mark this as closed.

[2015-06-20 17:53] #7 closed

[2015-06-20 18:31] Xalaxis commented on #7
I also suggest a MEGA mirror, just in case somebody doesn't want to download it from Github for whatever reason (but definitely keep the Github copy up because it *is* part of our code, and you can download individual files).

[2015-06-20 18:45] devloop0 commented on #7
I've already created an account. Once I have a stable WiFi connection, I'll upload a testing copy to make sure everything is okay.

[2015-06-20 21:41] Xalaxis commented on #6
@devloop0 has committed a fix for the syntax errors.  I just need to test this on a live server and it should be ready to merge to main.

[2015-06-21 08:53] devloop0 commented on #4
Quick status update on this: the facial detection part of this is undergoing internal testing and will soon be out. Facial recognition support has already been begun and will be in the commit after this one.

[2015-06-21 13:14] DeviantInterface commented on #4
Will there be a mobile compatible version?

On Sunday, June 21, 2015, devloop0 <notifications@github.com> wrote:

--
///Deviant
Name: Mccree, Daniel P.
SSN: XXX-XX-2840
Designation: Threat To System

[2015-06-21 13:50] Xalaxis commented on #4
At this time I don't think we have the expertise to make that a reality.
We don't really have any Android or IPhone developers in the project at
this time.

On Sun, 21 Jun 2015 14:14 DeviantInterface <notifications@github.com> wrote:

[2015-06-21 17:08] devloop0 commented on #4
Let me add to this by saying that it is definitely a long-term goal but will not be done in the foreseeable future, at least until the mobile and web versions are highly stable.

[2015-06-21 17:09] devloop0 commented on #4
Sorry, I meant the web and desktop versions, my bad.

[2015-06-21 19:11] Xalaxis commented on #6
Code finished and pull request submitted.  Has been fully tested by me, but I'll leave the pull request up so that someone can peer review, @devloop0 ?

Values returned are:
* runseconds - The number of seconds run, integer
* runminutes - The number of minutes run, integer
* runhours - The number of hours run, integer
* rundays - The number of days run, integer
* serveroverload - Whether the progr

[2015-06-21 19:11] Xalaxis commented on #6
Reopening issue until peer reviewed.

[2015-06-21 19:51] #6 closed

[2015-06-21 19:54] Xalaxis opened #9 "Running a server to host 'server' folder"
I'm working on this.  I can't give an estimate for when at this time, but it should be done 'soon'.

[2015-06-21 19:56] Xalaxis commented on #4
I would say that basic facial detection is done at this stage.  Perhaps close this Issue and open a new one with specific goals for Day 1?

[2015-06-21 19:57] Xalaxis commented on #5
@devloop0 Did @DeviantInterface do this through Skype?

[2015-06-21 20:02] kodbilenadam opened #11 "How to show large amounts of videos?"
What should i do for them? There will be lots of videos on the main screen. What should I use to show them in one page without lagging?

[2015-06-22 01:16] devloop0 commented on #11
Yeah, a host with a lot of processing power and bandwidth will be needed. However, I think we should change the milestone (Day 1)? It doesn't seem to be a feasible milestone as of now.

[2015-06-22 03:15] devloop0 commented on #5
Preferably, I would like some mockups and gifs posted in a folder, but this issue seems somewhat superfluous, I'm going to go ahead and close this if it is okay with you @Xalaxis.

[2015-06-22 04:20] devloop0 opened #12 "gh-pages branch should be a different repo."
Most other github repositories leave their github.io websites in a different repo. I feel that anything not directly related to the machine development should be in a different repository. If it's okay with everyone, I can move it to a different repository.

[2015-06-22 08:11] kodbilenadam commented on #12
Move it.

[2015-06-22 11:36] Xalaxis commented on #5
I think we should leave it open until we get a reply from @DeviantInterface , (As he has gone AWOL on both Skype and Github, he might have prepared something already).

[2015-06-22 18:03] devloop0 commented on #5
Sounds fine with me.

[2015-06-22 19:46] devloop0 commented on #12
Okay, I moved it to a new repo, but you are going to have to recreate the website; the old link doesn't work. Copy and paste? (I'm going to close this issue now).

[2015-06-22 19:46] #12 closed

[2015-06-22 19:48] devloop0 commented on #4
I'm going to leave this open until the facial recognition features as done as well. Once that is done, then I will close this issue and create a new milestone for UI enhancements for Day 1.

[2015-06-23 19:13] devloop0 opened #13 "Rename testing branch to Day 0"
Since our next milestone is day zero, and everything in the testing branch is geared towards the day zero software, I'm wondering whether or not we should change the name of the testing branch to day-zero. I'm simply asking because the desktop application is nearing completion of that milestone and I would like to start working on heavy UI improvements towards day one (another branch). Suggestions

[2015-06-27 06:58] devloop0 commented on #13
I haven't heard any discussion on this topic so I am going to assume that everyone is okay with it. I am going to wait one more day before moving it unless anyone has any opposition to this.

[2015-06-27 10:18] Xalaxis commented on #13
I think we should leave it as testing.  Otherwise we will have lots of
branches which are all varying amounts of out-of-date.  We can use github
builds for versioning IMO.

On Sat, 27 Jun 2015 07:58 devloop0 <notifications@github.com> wrote:

[2015-06-27 23:56] devloop0 commented on #13
Okay, I'll leave it as is and close this issue.

[2015-06-27 23:56] #13 closed

[2015-06-28 21:46] devloop0 commented on #4
I am proud to say that with the help of all of the other developers in this project, we have officially completed support for facial detection and recognition on the windows client for the day zero goal. (The download link is in the testing repository). Of course, this does not mean that there are no bugs and any issues regarding the implementation are welcome, but if everyone is okay with this, I

[2015-06-29 20:54] Xalaxis commented on #4
Go ahead.  (As long as you also think build one is not yet finished, just
this aim is) (sorry, that's probably worded confusingly)

On Sun, 28 Jun 2015 22:46 devloop0 <notifications@github.com> wrote:

[2015-06-29 22:32] #4 closed

[2015-06-29 22:34] devloop0 commented on #11
This doesn't seem like something that could feasibly be achieved for the Day 0 milestone so I changed it to Day 1.

[2015-06-29 22:42] devloop0 commented on #5
@DeviantInterface, all those mockups that you were working on in Skype would be excellent in  'mockups' folder in the repo. Could you commit them?

[2015-06-29 22:43] DeviantInterface commented on #5
I'll need help, but sure

On Monday, June 29, 2015, devloop0 <notifications@github.com> wrote:

--
///Deviant
Name: Mccree, Daniel P.
SSN: XXX-XX-2840
Designation: Threat To System

[2015-06-30 16:35] DeviantInterface commented on #5
What's with the spastic assigning and unassigning me guys XD

[2015-07-06 12:27] Xalaxis commented on #5
It was me getting used to assigning people @DeviantInterface .  Did we sort this yet?

[2015-07-06 12:30] Xalaxis commented on #9
I've been a little caught up in things recently so still haven't got around to doing this.  If anyone else has a server they could host this from, it would work.  (Even a Raspberry Pi would suit our needs at this stage)

[2015-07-06 13:31] DeviantInterface commented on #5
Sort what?

On Monday, July 6, 2015, Matthew Wolffsohn <notifications@github.com> wrote:

--
///Deviant
Name: Mccree, Daniel P.
SSN: XXX-XX-2840
Designation: Threat To System

[2015-07-08 19:08] Xalaxis commented on #5
Deviant's Mockups.  Did they get put in any of the repo branches?

On Mon, 6 Jul 2015 at 14:31 DeviantInterface <notifications@github.com>
wrote:

[2015-07-08 19:09] DeviantInterface commented on #5
Consider it sorted

On Monday, July 6, 2015, Deviant Interface <
halokid687doesminecraft@gmail.com> wrote:

--
///Deviant
Name: Mccree, Daniel P.
SSN: XXX-XX-2840
Designation: Threat To System

[2015-09-24 06:45] gauravagarwalr opened #14 "Cross Platform Compatibility?"
Hi,

I was looking through the code and I felt that the cross platform aspects of the app weren't being addressed.
I was wondering why something like http://electron.atom.io/ wasn't considered. Especially when a lot of awesome apps are being built using it see Slack and Popcorn-Time.

[2015-09-24 08:08] devloop0 commented on #14
Javascript is a pretty terrible language to do advanced machine learning algorithms, but you are right in that we definitely need to make the app more portable. I'll leave this issue open, and if anyone wants to start developing for Linux, we can work on getting a unified code base.

[2015-09-24 09:06] gauravagarwalr commented on #14
I am pretty sure it won't be as bad as C# or python! -> http://julialang.com/benchmarks.html

[2015-09-24 09:08] gauravagarwalr commented on #14
Umm.. This says otherwise -> http://julialang.org/benchmarks/ . Also v8 tends to be upgraded in the performance factor! If you are concerned about the readability of the code I can try building a PoC on it.

[2015-09-24 09:31] devloop0 commented on #14
It's true that Javascript had relatively good performance, but it still doesn't beat native, and the Machine is pretty resource intensive, so it's going to require all the performance that it can get. In the fact, the reason we are using C# is because of the cool GUI effects and more importantly, if you look at our code, EmguCV is just a wrapper around native C++ calls to OpenCV, so the only overh

[2015-09-24 09:50] Xalaxis commented on #14
I think personally that due to the complex nature of this project, (lots of
different functions are planned to be implemented, some os specific) it
would be better to keep the clients development separate, and focus on
making them have a compatible back-end of some kind instead.

Hopefully I'll redo the old graphics we currently have on the project's
design to  illustrate this further.

On Thu, 24

[2015-09-24 12:13] Xalaxis commented on #9
Closing this issue, as I currently don't see it being needed at this stage - May reopen later.

[2015-09-24 12:13] #9 closed

[2015-09-24 12:19] Xalaxis opened #15 "Updating of the wiki with current project status and members"
The wiki is now out-of-date due to the sudden influx of new project members and the shifting of our aims.  I'll update it over the next couple of days.

Setting as Day 1 milestone as we ought to have a solid aim set out before the next big release.

[2015-09-24 12:20] Xalaxis commented on #15
Made a new label for wiki-related issues btw.

[2015-09-24 12:24] Xalaxis commented on #11
I think at this stage, it's probably looking like we'll have a single video, with lots of individual videos as part of it.  I had a good example of this and will go looking for it again at some point. - Will link here if found.

[2015-09-24 18:17] devloop0 commented on #14
Hey Gaurav, if you want to talk about this more, let's discuss on Skype, we have a development chat there so everyone can communicate easily with everyone else.

[2015-09-25 16:24] gauravagarwalr commented on #14
@devloop0 How do I get on the dev group on skype?

[2015-11-03 19:05] Magelfik opened #16 "Dead Link"
Hi there,

I just wanted to let you know that the x64 link seems to be down.

Was it intentional ?

Thanks in advance.

[2015-11-03 23:36] devloop0 commented on #16
Thanks, I removed the old binaries and there are new ones. I will update them accordingly.

[2015-11-17 07:14] devloop0 commented on #16
Sorry for the delay, I updated the binaries on the README.md page. I'm closing this issue. Thanks for the interest!

[2015-11-17 07:14] #16 closed

[2016-01-26 16:22] Xalaxis commented on #15
Closing this issue as the project has gone into hibernation due to lack of input.  Obviously if anyone wants to boot this back up again they are welcome (and I'll still be around)

[2016-01-26 16:22] #15 closed

[2016-03-01 11:23] Xalaxis commented on #14
@gauravagarwalr Development is recommencing and we're looking into cross-platform compatibility as a primary concern.  Just keeping you informed.

Joining the development chat won't be possible right now due to the nature of the project restarting - Hopefully this will be possible at some point in the future through.

[2016-03-01 11:32] Xalaxis opened #17 "The Wiki is not up-to-date with current project changes"
I aim to fix this as soon as I have been provided with rough plans from other group members.

@kodbilenadam and @devloop0 to plan project layout and discuss via group chat.

[2016-03-01 12:19] Xalaxis opened #19 "Currently builds have not been integrated with Github"
For our next build, it should take advantage of the official build mechanism to serve the executable from Github itself.

[2016-03-01 12:19] Xalaxis commented on #19
I'm assigning myself because I will ensure others do this.  If anyone else wants it they are welcome to self-assign

[2016-05-16 12:11] #5 closed

[2016-05-16 12:11] Xalaxis commented on #14
As I understand it, this issue has now been resolved through the move to Java.  Paging @devloop0 just in case.

[2016-05-16 12:11] #14 closed

[2016-05-22 00:56] devloop0 opened #23 "Linux and Mac Support"
Currently, our machine supports Windows (only platform I could test on as of now), but porting everything to Linux and Mac should be easy. I would definitely appreciate some community support on this. Basically, the only platform-dependent line of code is in MainPage.java with the System.loadLibrary.

[2016-05-22 05:28] gateslm opened #24 "MainPage.java loading the system file"
I was able to correct the code on my computer, but was wondering if there was a general fix for the people playing with the code.

The system load requires uses the user directory to load the opencv_java***.dll file, however, the code looks for the file in the directory the project is in, not the C: file like the tutorial said. Is there a way to automatically fix this for people playing with the c

[2016-05-22 06:13] devloop0 commented on #24
Thanks for bringing this to my attention, I'll add this to the README.md. The reason we also link a copy of the opencv/ directory locally within the project is because if you look at the our distributed binary, you can see that we need to ship the actual opencv DLL to load. If you leave a local copy, that should do it.
At this point, the project needs a copy of the opencv/ directory in the C:\ and

[2016-05-22 07:30] #24 closed

[2016-05-22 07:53] kodbilenadam commented on #11
Solution found: WebM

[2016-05-22 07:53] #11 closed

[2016-05-22 08:48] Xalaxis commented on #11
@kodbilenadam If you're still unsure, look at how 'beyond recollection' handles it's videos.

[2016-05-22 10:39] Xalaxis commented on #11
@kodbilenadam (Sorry, 'because recollection') [here](http://www.because-recollection.com/)

[2016-05-24 00:27] ErnestThornhill commented on #23
This [website](http://dummyscodes.blogspot.com/2015/12/develop-opencv-cross-platform.html) shows how cross OS works with openCV, it should be proably be the same even though you guys are using JavaCV. For an example the [LoadLibrary](https://github.com/ErnestThornhill/The-Machine/blob/master/Java%20Code/The%20Machine/src/theMachine/Webcam/LoadLibrary.java) class in my github shows how the cross-os

[2016-05-24 01:02] devloop0 commented on #23
Thanks, I will check it out and close this issue as soon as I get a prototype working and test it.

[2016-05-24 04:14] gateslm opened #25 "Submitting Code to be validated"
I submitted an issue earlier about the developer version having an error because the openCv file does not exist. I am not an expert at Github, how can push changes to a branch to show a fix that might work?

[2016-05-24 23:02] xnart opened #26 "Resources are in wrong path"
In Maven projects, resources should be placed in "src/main/resources/". So you can produce your app with one fat jar file. This gives to user more flexibility: The app becomes portable, and easily shareable. And also, denies user's access to resources.

It is not big issue but it is best practice.

[2016-05-24 23:26] xnart commented on #23
There is should be more easier way.

`System.loadLibrary( Core.NATIVE_LIBRARY_NAME );`

I believe this code sees what is your platform, and produces right file name for that. If you put all platform native libraries in your libraries path, it should grab for you.

I didn't try but it has to be something like that.

[2016-05-25 01:13] devloop0 commented on #26
Thanks, I did not know that. I'll leave this open until I move it, or somebody gets a working build with everything in the resources directly.

[2016-05-25 01:14] devloop0 commented on #25
Try submitting a pull request, we'll approve it if it solves a problem or adds a feature.

[2016-05-25 04:37] gateslm commented on #25
I get "It seems you do not have permission to push your changes to this repository."

[2016-05-25 07:29] Jaloko commented on #25
You will need to fork the repository first unless you are added as a contributor to this one.

[2016-05-25 07:32] devloop0 commented on #25
This is correct. Fork the repository and then there should be an option to submit a pull request. Here is a link that can help you get started. https://help.github.com/articles/using-pull-requests/#initiating-the-pull-request

[2016-05-25 16:13] xnart commented on #23
I built native library on my Linux x64. Here is the library file :

[opencv_java310.so.zip](https://github.com/the-machine-project/the-machine/files/282381/opencv_java310.so.zip)

[2016-05-25 18:11] devloop0 commented on #23
What architectures does it support? Also, I will try to integrate these for a Linux build as soon as possible.  Thank you for doing this.

[2016-05-25 18:35] xnart commented on #23
Since i built it on x64 architecture, i think it supports only x64s. But not sure.

I tried this library file with The Machine and it works on my Arch Linux x64.

[2016-05-25 18:37] devloop0 commented on #23
Okay, I have an x64 installation as well so I will test it on my local machine.
Also, did you hardcode the opencv_java310.so path in MainPage.java?

[2016-05-25 20:09] xnart commented on #23
Yeah, i couldn't run it with System.loadLibrary(). It runs with : System.load(ABSOLUTE PATH .so).

Got to search out how Maven deals with native libraries.

[2016-05-26 13:43] Xalaxis commented on #25
If that's all clear I'm going to go ahead and close this issue.

[2016-05-26 13:43] #25 closed

[2016-06-01 07:10] evilpig opened #30 "Doesn't work."
I tried to download this program but have been having some issues. I've downloaded both the x86 and x64 versions. I am on Windows x64 but that version doesn't open at all. I've tried the x86 version but I get to the point where it asks my name then just goes black and nothing happens. I've updated my java as well. I am on Windows 10

edit: After closing and opening it a few times I eventually saw

[2016-06-01 17:48] devloop0 commented on #30
After it gets to 200 samples, it begins to train itself to recognize your face.
It freezes (should take no longer than a minute), then the machine closes. You restart it and it will recognize you as admin. Try running the whole thing again, but be sure to delete the FACIAL_DATA directory, the TRAINING directory, and the IDENTITY_DATABASE.db files and re-running it. If it continues to crash, open c

[2016-06-03 01:34] evilpig commented on #30
I tried that and it worked this time. It closed pretty quickly then reopened it and all was good.

[2016-06-03 05:30] devloop0 commented on #30
So can I close this issue?

[2016-06-04 07:51] devloop0 opened #32 "Advanced AI Features"
This will probably be a long open-issue, the plan is to add a bunch of AI features to the Machine and allow the user to choose when to apply them. If the machine can automatically do this, then that would be great as well.

[2016-06-04 07:52] devloop0 commented on #32
I am currently working on OCR, if anyone plans to work on other stuff or wants to help, please post here or use the Gitter.

[2016-06-04 07:56] devloop0 opened #33 "Speech Recognition Accuracy"
Currently, the library we are using is CMU Sphinx: http://cmusphinx.sourceforge.net/
The problem is the unlimited vocabulary recognition is extremely difficult locally. Even Google sends speech to their servers for more accurate speech recognition.
http://9to5google.com/2016/03/11/google-accurate-offline-voice-recognition/
The good news is that it is probably possible to get highly accurate speech

[2016-06-04 10:25] Xymanek opened #34 "Cannot open terminal"
The title says it all. It is impossible to open the terminal. Tried clicking around, smashing keyboard and no results. Running last code version downloaded from github (that is e971c2b), compiled manually

[2016-06-04 10:26] devloop0 commented on #34
My bad, the keyboard shortcut should be Control + Alt + T, like in Ubuntu. I should probably write this down somewhere. Let me know if this works and I'll close this issue.

[2016-06-04 10:29] Xymanek commented on #34
Yep it works. I suggest you to leave this issue open till you write it down somewhere ;)

BTW the font is horrible (Windows 10 x64 here)

[2016-06-04 10:32] devloop0 commented on #34
I'll leave it open for now. Also, the font is a known issue, the only alternative is to switch to the Samaritan one for the Machine terminal as well. I thought it fit the theme better as well. This isn't really an issue on our end, unless we can find a better, similar-looking font. Otherwise, we might have to stick with the one we already have.

[2016-06-04 10:40] Xymanek commented on #33
Well some of us (like me) are running on pretty decent hardware and can support the amount of processing required for accurate speech recognition.

Also I think google provides an API for speech recognition so that may be an option for others.

That said how about changing the webcam select window to "Machine boot properties" window and adding another drop down - "Speech recognition mode" with thr

[2016-06-04 10:43] RoccoDeveloping commented on #34
I cannot open terminal even if I do Ctrl + Alt + T. Win 10 x64 (Laptop). Where must I do that shortcut? Basically, the Machine loads up with face recognition. Then I press CTRL + Alt + T but nothing.

[2016-06-04 10:47] RoccoDeveloping commented on #34
Wait. Just tried to decompile your jar and it seems that in your x64 download, there's not the showTerminal() check. Trying to compile & build myself and see if works

[2016-06-04 10:49] devloop0 commented on #34
If you are downloading from the website, we have not uploaded the latest builds there. We will soon. The only way to currently test the latest machine is to compile manually.

[2016-06-04 10:53] devloop0 commented on #33
The problem with a service like Google is that there is only a limited number of requests you can make. Also, their desktop Speech API is currently in preview and may cost money for Google Cloud instances. Additionally, according to this link: http://stackoverflow.com/questions/12721436/google-speech-api, it may not be wise to just latch onto a Google service. If this is the only other option, I a

[2016-06-04 11:10] Xymanek commented on #33
In any case I do suggest doing something about because in its current state it fail to recognize even simple phrases

[2016-06-04 11:14] devloop0 commented on #33
Yeah, I expect this issue to be open for a while. I don't see any near-term solution for this problem. Additionally, to train a system like this, you need thousands of hours of audio with various noise levels and modulations and accents. Accessing open training sets like these are rare to come by.

[2016-06-04 13:00] Xymanek opened #35 "A better GUI"
Alright, soooooo..... One of main things that I was expecting to see when I've found this project is a GUI matching the one in the show. Machine 1.0 sort of accomplished this (aside from camera being in a separate window). Machine 2.0 is (no offense to creators, great job anyway) a joke in this aspect. So after thinking about this for quite some time I came up with a list of ideas/suggestions how

[2016-06-04 13:20] Xymanek opened #36 "Add multiple input support"
If we want to make our machine just like the one in the show, one of important things should be adding the ability to accept multiple audio and video inputs. An idea on how to display them to user I've mentioned in #35. These inputs can be

- Multiple webcams
- Ability to open (**from running machine**!!!) video/audio files
- A web stream (eg. check [this ](http://www.howtogeek.com/118075/how-to-s

[2016-06-04 17:49] devloop0 commented on #35
Some thoughts on your issues:
1. You are right about the Machine 1.0's UI, it probably looked a little cleaner than what the Machine looked like now, although I feel the startup animations are probably a little better. Window decoration-wise, it is definitely a step down. I feel that forcing the machine fullscreen might be a better option. Window resizing with this many operations may be too diffi

[2016-06-04 17:56] devloop0 commented on #36
I think I addressed this issue with #35. Obviously a good Internet connection is required, and there is additionally a cost of latency, but the actual fetching of frames from the IP camera and our processing of it should all be done in different threads. I will leave this open until I actually implement this.

Additionally, I should note that facial detection is almost free of cost (currently, we

[2016-06-04 20:32] Xymanek commented on #35
Completely agreed! To be honest that's what I thought from the beginning but since both versions were windowed I thought that you decided that it shouldn't be full screen

So this is what the layout should look like in my opinion (sorry for poor quality, this took me 1 min in MS paint):
![design](https://cloud.githubusercontent.com/assets/2865341/15801401/08cf5574-2a9c-11e6-96a5-e7d71620a3b9.png)

[2016-06-05 04:38] gateslm commented on #34
Which commands currently work for the terminal?

[2016-06-05 04:50] devloop0 commented on #34
Type in 'help' in the terminal. It lists all the commands and their usages.

[2016-06-05 10:13] RoccoDeveloping opened #37 "Camera 2 doesn't recognize faces trained in Camera 1"
Hi. Today I connected a second camera to my computer. Everything works well, except than that camera is unable to recognize my face. So I tried a retrain (changing permissions), so I trained my face in Camera 2. And it works. But now my face is not getting recognized in Camera 1. (Build from GitHub) Tried to modify source code but nothing. Help please!

[2016-06-05 10:13] RoccoDeveloping commented on #34
Yeah! It works, but now... look at my new issue!

[2016-06-05 10:18] RoccoDeveloping commented on #32
Please make secondaries trainable and reduce that freaking 200 to almost 100... (to train secondaries). Then, you can also use OpenCV to see if the secondary is holding a knife, pistol etc. to assign the white box with red angles (Ongoing Violence)

[2016-06-05 10:32] RoccoDeveloping commented on #37
The problem is another. I got the 2 cameras recognizing me by putting them on the same place. How can I get recognized by cameras but from different places?

[2016-06-05 10:54] Xymanek commented on #35
Second part of my answer (yesterday was too busy):

I disagree with you on title > actual UI. For several reasons:

1. Title' UI was always different to the one the machine uses in the show thus it was designed for and only for the title sequence and the goal of this project is to remake the Machine from the episodes, not hand-crafted title sequence
2. In the title sequence a huge amount of text i

[2016-06-05 11:00] Xymanek commented on #36
Is the machine running solely on top of CPU or does it employ GPU. Because if it doesn't I think it's good time to start (read [this](https://www.reddit.com/r/PersonOfInterest/comments/4kr6ec/person_of_interest_5x06_a_more_perfect_union/d3huhkw), relevant and pretty funny)

[2016-06-05 11:00] Xymanek commented on #36
Wrong button ;(

[2016-06-05 11:30] Xymanek commented on #37
I've already posted that before, the only thing to do is improve face recognition, which isn't easy

[2016-06-05 11:35] RoccoDeveloping commented on #37
You can make (concept) a facial recognition based on PNG files, so the training happens with a white background, and then transparency is maked, so you can recognize faces with multiple backgrounds.

[2016-06-05 16:05] Xalaxis commented on #30
Closing issue unless there are continuing problems.

[2016-06-05 16:05] #30 closed

[2016-06-06 22:32] alexwpotter commented on #35
https://gist.github.com/kuanb/dbe19ce4e8ef317ee3fc - NYC Traffic camera feeds: 1 image per second, refresh the page to get a new image.
https://gist.github.com/alexwpotter/e222e644018e696ba8b60d35d285776a - MD Traffic camera feeds: the actual stream URL is in the HTML of the webpage but it's not terribly difficult to extract it. They're RTMP streams.

[2016-06-12 15:37] RoccoDeveloping opened #38 "[ENHANCEMENT] Questions UI & other"
Note: I'm developing a local machine based on this one. In mine I developed a Question UI.
Basically, it analyzes for keywords (e.g. "Show me the profile of Reese, John" - keywords are PROFILE, OF and the next word(s) (Reese, John).
Maybe I can do a pull request.
And please, use Futura as the interface font, and make rectangles like the one @ the-machine-project/the-machine-project in Surveillance

[2016-06-13 06:46] devloop0 commented on #35
Thanks @alexwpotter I will take a look at this.
@Xymanek: I think that the quick sketch you wrote is a good idea. I will make the terminal window semi-transparent, so even if the webcam view is huge, it can still be viewed. Additionally, if the machine will have a view like that, everything will not have to be re-rendered, as every single time an image is received from any webcam, it will automati

[2016-06-13 06:52] devloop0 commented on #38
Hi. I would be glad to take a look at any pull request you do.
I'm not sure I want the rectangles to look curved, although I am open to debate about that. The main reason everything is flat and square is because the new machine looks like that. I modeled the look of the facial recognition UI to look like the machine's interface in the open sequence of the show in season 5. Obviously there are enha

[2016-06-13 06:58] devloop0 commented on #37
This is partially my fault. Considering I do not have 2 webcams, there is absolutely no way that I can test multiple webcams on my computer. For the forseeable future, if someone finds a bug like this, they will have to debug it. I can try helping you though. There are some possibilities as to why this is happening:
1. The image qualities/the light each camera captures, are different. If someone i

[2016-06-13 07:01] devloop0 commented on #36
Yeah, the machine currently doesn't run on GPU. If it did, you are right, it would run significantly more quickly. The problem is, I don't think the facial recognition libraries we are using support running on a GPU. OpenCV does support a GPUMat, but the Java port most definitely does not support GPU. The best attempt for this would be to use some kind of JNI wrapper, where all the processing is d

[2016-06-13 09:52] RoccoDeveloping commented on #38
I tried sphinx (but it's only for english language), I tried J.A.R.V.I.S, which uses Google Speech API. It works in my language, but it doesn't recognize my words, it recognizes other words, even much different!

About Eigenfaces: you are using LPBH (or something similar), but, why is opencv_face.createEigenFaceRecognizer() there?

I've also changed the designation boxes to have rounded corners an

[2016-06-13 09:58] devloop0 commented on #38
That's how you initialize the facial recognition system (with opencv_face.createEigenFaceRecognizer()). I'm guessing all of them are based off of that system. Also, regarding the designation boxes, unless people feel extremely strongly about the designation boxes, I will leave everything square.
The designations are only images, so it's not a big deal if you changed that. I personally prefer a squ

[2016-06-13 09:59] RoccoDeveloping commented on #38
QUI Command: https://gist.github.com/RoccoDeveloping/89b8e1091a03f3a933d74b56175fb3c7
https://gist.github.com/RoccoDeveloping/742e99aa964f5b52154d862c79dcd3bf

[2016-06-13 09:59] RoccoDeveloping commented on #38
The second is the SHELL

[2016-06-13 10:01] devloop0 commented on #38
Please make these into a pull request regarding the earlier comment I made (#25).

[2016-06-13 10:04] RoccoDeveloping commented on #38
Also, take a look (I think I'll make a pull request for that) at J.A.R.V.I.S Speech Synthesiser. I've tried it, it's functional and it's cross-language. It uses Google Now's voice, and it's useful to send numbers.
Basically I converted the numbers of SSN to letters (0 = z, 1 = a etc.) and then converted them to NATO alphabet (a = Alpha, b = bravo etc.), so I made that voice speak that string, so m

[2016-06-13 10:13] RoccoDeveloping commented on #38
I've just made a pull request including Questions UI and Speech Synthesiser

[2016-06-14 04:56] devloop0 commented on #38
Quick questions about JARVIS:
1. Is there a limit to the number of requests you can make?
2. Do you need an API key?

[2016-06-14 09:55] RoccoDeveloping commented on #38
Google's Speech API is limited to 100 request/project.
Yes, you need one available at the Google API Console. Note, you must first subscribe to the chromium-dev group.

[2016-06-14 21:12] PrimaryAsset opened #40 "Manual Composition"
How do i compile the machine manually?

[2016-06-15 14:23] RoccoDeveloping commented on #38
I recently updated my IntelliJ to Ultimate, so, if you need some web task, ee tasks, feel free to ask. Btw I'm working on an app version (for Android) with the Samaritan interface.

[2016-06-15 16:15] devloop0 commented on #40
The instructions for compiling the machine from source are in the README.md file which is rendered when you go to our repo on a web browser. Are you stuck on a specific step?

[2016-06-15 16:18] PrimaryAsset commented on #40
No i just was having the issue addressed in #34 And didnt know where to find the instructions.

[2016-06-15 16:20] devloop0 commented on #40
Yeah, to open the terminal, you need to press ctrl + alt + T. Is there any other problem or can I close this issue?

[2016-06-15 16:30] PrimaryAsset commented on #40
Nope im good! 👍🏻

[2016-06-15 16:30] #40 closed

[2016-06-15 21:35] devloop0 commented on #38
If there are API request limitations and it requires an API key, would this be suitable for an open-source project?

[2016-06-15 22:32] PrimaryAsset opened #41 "Microphone Handler Startup Issue"
When starting up the machine i get 8 Errors and i dont know how to fix them. The Error message is as follows.

Information:Using javac 1.8.0_91 to compile java sources
Information:java: Errors occurred while compiling module 'machine'
Information:6/15/2016 5:28 PM - Compilation completed with 8 errors and 1 warning in 2s 19ms
C:\Users\Richard\Desktop\the-machine-master (1)\the-machine-master\src\m

[2016-06-15 22:37] devloop0 commented on #41
Try this: http://stackoverflow.com/questions/9980869/force-intellij-idea-to-reread-all-maven-dependencies, it doesn't seem to be pulling the CMU Sphinx dependency.

[2016-06-15 22:46] PrimaryAsset commented on #41
That fixed that problem but now i have this

Information:Using javac 1.8.0_91 to compile java sources
Information:java: Errors occurred while compiling module 'machine'
Information:Module "machine" was fully rebuilt due to project configuration/dependencies changes
Information:6/15/2016 5:43 PM - Compilation completed with 27 errors and 3 warnings in 1s 812ms
Warning:java: source value 1.5 is obso

[2016-06-15 22:48] devloop0 commented on #41
I suggest Googling compilation errors, but you need to change the bytecode level and the java compiler level used in project settings, project dependencies, and general settings.

[2016-06-15 22:48] devloop0 commented on #41
These need to be at 1.8 or Java 8.

[2016-06-15 22:53] PrimaryAsset commented on #41
There is also an error in the top right that says

"Invalid VCS root mapping the directory <PROJECT> is registered as a Git root, but no git repositories were found there"

[2016-06-15 23:29] PrimaryAsset commented on #41
All good now thanks!

[2016-06-15 23:33] #41 closed

[2016-06-16 00:37] PrimaryAsset commented on #38
This is not something that needs to be focused on as much right now but i thought i would mention it just so that its on the list for potential upgrades.

Things to add user wise are Blue Box ( Members of government teams working directly for one of the Machine's assets while unaware of its existence) and White box with red corners and crosshairs( Individuals involved in imminent (or ongoing), irr

[2016-06-16 11:25] RoccoDeveloping commented on #38
I edited the code so when the machine recognizes a face, it shows only the box and a small colored rectangle which shows ASSET/THREAT/ADMIN etc. as of Season 5. I'm trying to implement that when the users press L it shows more informations. But it seems that I cannot draw the rectangle.

[2016-06-16 15:26] PrimaryAsset commented on #38
One thing I noticed when i was entering a command into the machine was that it tends to spaz out when you change your facial expression or even when my eyes are looking in a different direction it wont recognize me as Admin and that can be really annoying if you are trying to enter a command and you complete it and then you have to re-type it all because you weren't recognized as Admin.

First of

[2016-06-16 16:07] devloop0 commented on #38
@RoccoDeveloping: that sounds interesting. Can you attach a picture of what scene you are talking about from the show? All the code for drawing stuff on the image itself should be in FacialDetection.java. If you need more code-specific help, we can move this to the Gitter, as it may clog up the feed here.

[2016-06-20 16:57] RoccoDeveloping commented on #38
Attaching it soon!
This one: http://vignette2.wikia.nocookie.net/pediaofinterest/images/5/58/POI_0502_MPOV_Finch_Admin.png/revision/latest?cb=20160511002955
and this one:
http://vignette2.wikia.nocookie.net/pediaofinterest/images/8/84/POI_0502_Finch_and_Root_Designated_as_Threats.png/revision/latest?cb=20160510202403

[2016-06-20 16:59] devloop0 commented on #38
@RoccoDeveloping You might want to wait until Tuesday to commit anything, I'm planning on committing full screen UI changes then. Additionally, I am planning to make the box on the image clickable, so more information about the user can rendered to the side of the webcam view. Thanks!

[2016-06-20 17:02] RoccoDeveloping commented on #38
I personally prefer having a key listener, with maybe a "L" key listener. That's because the box is always moving, so it'll be difficult to click. So you are implementing full screen webcam, aren't you? I wasn't planning to commit, but it's a good idea! I'll be waiting for yours before committing mine.

[2016-06-20 17:03] devloop0 commented on #38
What if there are multiple people in the webcam? Which one would the "L" open? I am also planning on making it openable from the terminal, so input can still be typed.

[2016-06-20 17:06] RoccoDeveloping commented on #38
It would open all the faces' box. And, it's better to say "You're being watched" or "We're being watched" than "Welcome to the machine"

[2016-06-20 17:08] devloop0 commented on #38
Hmm, I'll see what you come up with. I'm not planning on committing the clicking functionality until after this commit, so we can both come up with something and compare.

[2016-06-22 04:26] 8bitgentleman commented on #23
If a mac is needed to compile an OSX version I can lend a hand. Just tell me what to do.

[2016-06-22 06:19] devloop0 commented on #35
The latest commit begins to address some of the issues presented here. (https://github.com/the-machine-project/the-machine/commit/d51082bc0f9d22170c97dce12f2c264601b637dc)

[2016-06-23 14:19] devloop0 commented on #23
If you manage to compile everything from source on the latest master branch with the correct OpenCV dependency and modify the UserPlatform.java file to load that file on a Mac, that should be enough.

[2016-06-24 10:27] RoccoDeveloping commented on #38
Can you make the face recognition process a bit smoothier?

[2016-06-25 15:50] RoccoDeveloping commented on #23
Can you post the UserPlatform.java for Macs please? I have a huge Thunderbolt Display and it can only be attached with Macs.

[2016-07-02 10:16] Xymanek commented on #35
Hey! I know it's been quite long time since the commit was pushed but holidays...

Anyway, great job! One thing that I noticed is that the terminal is full width of the screen while I suggested it to be only in center. I think making it more compact makes it nicer. I'll also suggest an idea for background on gitter

Good luck and let us know when you have any further progress

[2016-07-03 04:55] devloop0 commented on #35
I was referring to this when I did that: https://cloud.githubusercontent.com/assets/2865341/15801401/08cf5574-2a9c-11e6-96a5-e7d71620a3b9.png, although center probably does look better. I will try moving it there and see what happens.

[2016-07-03 09:03] Xymanek commented on #35
It is in the center on the sketch.... Unless I'm missing something?

[2016-07-08 05:51] porfanid opened #42 "Android sdk"
It tells me that I need an android sdk in order to run it. Where is it? I cannot find it

[2016-08-03 15:38] Xymanek commented on #35
Hey is this alive? ping @devloop0

[2016-08-03 15:43] devloop0 commented on #35
Yeah, don't worry. I've just been extremely busy these past couple of months, but I hope to resume development sometime this month or at the latest, early next month. I can of course still review pull requests and the like but development from my side will have to wait just a little bit longer.

[2016-08-03 15:44] Xymanek commented on #35
Nice! I was starting to get a feeling that this is another dead repo on github....

[2016-08-03 15:46] devloop0 commented on #35
Yeah, no worries. It may look empty once in a while simply because I am one of the main people working on the desktop version and if I stop contributing, things tend to get a little quiet.

[2016-08-03 16:12] Xalaxis commented on #35
Adding to what @devloop0 has already mentioned, we automatically get pings for every new issue so we couldn't possibly ignore it for long currently :laughing:

[2016-08-03 16:25] Xymanek commented on #35
@Xalaxis you asking me to spam you? :laughing:

[2016-08-03 16:35] Xalaxis commented on #35
:wink: Please no.